
/* Style page content */
* {
    margin: 0;
    padding: 0;
} 



h1, h2, h3{
    color: #82716e;
    padding-top: 15px;
}
body {
    font-size: 100%; 
    line-height: 1.5;
}
h1, h2, h3, h4 {
    margin: 0; 
    line-height: 1.25
}
h1 {
    font-size: 2em
}
h2 { 
    font-size: 1.5em
}
h3 { 
    font-size: 1.2em
}

.main {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 200px; /* Account for sidebar */
    margin-right: 80px; /*looks nicer this way*/
    padding: 0px 10px;
}




/* Navbar*/

.navbar {
    margin-top: 0px;
    list-style-type: none;
    background-color: #acb7ae;
    height: 100%; /* Total Height */
    position: fixed; /* Make it stick*/
    color: #82716e;
    font-size: 20px;
    width: 160px; /*only way I could find of fixing it*/
}

.navbar li{
    padding: 15px;
    font-size: 20px;
    color: #82716e;
    display: block;
}

.navbar a{
    color: #82716e;
    display: block;
}

.navbar a:hover{
    color: #e4decd;
}


/*grid divisions*/

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] auto ) ;
    grid-template-rows: repeat(2, [row] auto  );
}  

.box {
    background-color: #acb7ae;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    font-size: 125%;

}
.graph {
    grid-column: span 2;
}




/*listing */


table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
}

th {
    background-color: #acb7ae;
    color: #82716e;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }


tr{
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
}

tr:nth-child(even){
    background-color: #e4decd;
}

table a{
    padding: 10px;
    font-size: 15px;
    color: #82716e;
    display: block;
}


/*index page*/

.wrapperindex {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, [col] auto ) ;
    grid-template-rows: repeat(1, [row] auto  );
}  
.maintitle{
    text-align: center;
    padding: 50px;
    font-size: 250%;
}










/*color palete: Barely Green: #acb7ae

The Brown-shirts: #82716e

Tan Blonde: #e4decd

Blondey: #c2b490 