
/* Style page content */
* {
    margin: 0;
    padding: 0;
} 

@font-face {
    font-family: "fontawesome";
    src: url("fontawesome-solid.woff");
}

body {
    font-size: 100%; 
    line-height: 1.5;
    font-family: Sans-Serif;
    background-color: #f4f3ef;
}

h1, h2, h3{
    color: #3d3d3d;
    padding-top: 15px;
}

h1, h2, h3, h4 {
    margin: 0; 
    line-height: 1.25
}
h1 {
    font-size: 3em
}
h2 { 
    font-size: 2.5em
}
h3 { 
    font-size: 1.2em
}

.btn {
    border-radius: 3px;
    text-transform: uppercase;
    padding: 2px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    border: 2px solid #51bcdae8;
    background-color:#51bcdae8;
    color:#f4f3ef;
}

.btn-lg{
    padding: 13px;
    width: 165px;
}

.btn-full{
    padding: 13px;
    width: 100%;
}

.btn-full-form {
    box-sizing: border-box;
    font-size: 15px;
    display: block;
}

.btn:hover{
    background: #f4f3ef;
    border: 2px solid #51bcdae8;
    color: #302121;
    cursor: pointer;
}

.main {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 200px; /* Account for sidebar */
    margin-right: 80px; /*looks nicer this way*/
}


/* Navbar*/

.navbar {
    margin-top: 0px;
    list-style-type: none;
    background-color: #212120;
    box-shadow: rgba(127, 140, 141, 0.4) 0 0 4px 4px;
    height: 100%; /* Total Height */
    position: fixed; /* Make it stick*/
    color: #ef8157;
    font-size: 20px;
    text-align: center;
    width: 180px; /*only way I could find of fixing it*/
}

.navbar a {
    text-decoration: none;
}

.a-dashboard:before {
    font-size: 35px;
    content: "\f080";
	font-family: fontawesome;
}

.a-account:before {
    font-size: 35px;
    content: "\f007";
	font-family: fontawesome;
}

.a-locations:before {
    font-size: 35px;
    content: "\f14e";
	font-family: fontawesome;
}

.a-devices:before {
    font-size: 35px;
    content: "\f0a0";
	font-family: fontawesome;
}
.a-systems:before {
    font-size: 35px;
    content: "\f247";
	font-family: fontawesome;
}
.a-users:before{
    font-size: 35px;
    content: "\f2b9";
	font-family: fontawesome;
}

.a-logout:before{
    font-size: 35px;
    content: "\f057";
	font-family: fontawesome;
}

/*:before {
    content: "\f09b";
	font-family: fontawesome;
}*/

.navbar li{
    padding: 15px;
    font-size: 20px;
    color: #e9906cbd;
    display: block;
}

.navbar h3 {
    color: #c85a2f;
}

.navbar a {
    color: #e9906cbd;
    display: block;
    line-height: 25px;
}

.navbar a:hover{
    color: #c85a2f;
}


/*grid divisions*/

.wrapper-2{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, [col] 1fr ) ;
    grid-template-rows: repeat(1, [row] auto  );
}
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] 1fr ) ;
    grid-template-rows: repeat(2, [row] auto );
}  

.box {
    background-color: #ffff;
    box-shadow: rgba(0,0,0,0.3) 0 8px 12px -5px;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    font-size: 125%;

}

.box h1 {
    color: #ef8157;
}

.graph {
    grid-column: span 2;
}




/*listing */


table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #ef8157;
    color:#f4f3ef;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ebeef5;    
}

td {
    padding: 8px;
}

tr{
    padding: 8px;
    height: 80px;
    text-align: left;
    border-bottom: 2px solid #ebeef5;
}

tr:nth-child(even){
    background-color: #e3e3e3;
}

tr:hover {
    background-color: #f5f7fa
}


table a {
    padding: 10px;
    font-size: 15px;
    color: #0989ad;
    display: block;
    text-decoration: none;
}

.prettylink:before {
    content: "\f0c1\00a0";
	font-family: fontawesome;
}

/*index page*/

.wrapperindex {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, [col] auto ) ;
    grid-template-rows: repeat(1, [row] auto  );
}  
.maintitle{
    text-align: center;
    padding: 50px;
    font-size: 250%;
}


/*forms!*/

.forms{
	max-width: 100%;
	padding: 10px 20px;
    margin: 10px;
	padding: 20px;
    color: #9a9a9a;
    text-align: left;
    text-justify: inter-word;
    border: none;
    line-height: 22px;
}

.forms p {
    font-size: .86em;
}

input {
    border-radius: 4px;
    border: 2px solid #3d3d3d62;
	font-size: 15px;
	margin-top: 4px;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
    columns: #3d3d3d;
    background-color:#fff;
    color: #3d3d3d;
	margin-bottom: 30px;
}

input:focus,select:focus {
    border-color: #51bcdae8;
}

select {
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin-top: 4px;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
    background-color:#fff;
    border: 2px solid #3d3d3d62;
	margin-bottom: 30px;
}

/*error pages*/

.error_page{
    text-align: center;
}





/*color palete: Barely Green: #f4f3ef

lighter green: #d5dbd6 

The Brown-shirts: #82716e

Tan Blonde: #c09b5f  

Blondey: #c2b490 